@charset "utf-8";
/* CSS Document */

html{
	height:100%;
	width:100%;
}

body{
	height:100%;
	width:100%;
	font-family: 'Roboto Slab', serif;
}
.cover{
	background-image:url("../images/page1-bg.jpg");
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	position:relative;
	background-color:#000000;
}

.coverIn{
	background-image:url("../images/page2-bg.jpg");
	background-positionL:0 38px;
}

.logo img{
	margin-top:5%;
}

.logo-text{
	text-align:center;
	font-size:15px;
	color:#ffffff;
	line-height:35px;
	margin-top:2%;
}

.logo-text span{
	color:#ffffff;
	font-weight:700;
	font-size:17px;
	display:block;
	line-height:24px;
}

span.logo-title{
	font-size:25px;
	color:#e6d2aa;
	font-weight:700;
	line-height:40px;
	display:block;
}

.border{
	width:100px;
	height:1px;
	background-color:#ffffff;
	margin:auto;
	margin-top:5px;
}

.app-title{
	font-size:25px;
	color:#e6d2aa;
	text-transform:uppercase;
	text-align:center;
	font-weight:700;
	border-top:1px solid #e6d2aa;
	border-bottom:1px solid #e6d2aa;
	width:90%;
	padding-top:12px;
	padding-bottom:12px;
	margin-top:25%;
}

.lang {
    background-color: #000;
    border: none;
    border-radius:0;
    box-shadow: none;
    margin-bottom:0px;
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	font-size:14px;
	line-height:38px;
	font-weight:400;
	color:#e6d2aa;
}

.titleTop{
	top:0;
	bottom:auto;
	font-size:15px;
	color:#ffffff;
	position:static;
	text-transform:uppercase;
}
.lang a{
	color:#515151;
	margin-left:20px;
	margin-right:20px;
}

.lang a:hover{
	color:#e6d2aa;
	text-decoration:none;
}

.noPad{
	padding:0;
}

.enter{
	position:absolute;
	right:0;
	bottom:15%;
}

.works ul {
	margin-top:35%;
	padding-left:0;
}

.works ul li{
	width:100%;
	color:#ffffff;
	padding-left:30px;
	padding-right:18px;
	list-style-type:none;
	margin-bottom:20px;
}

.works ul li a{
	color:#ffffff;
	line-height:47px;
	width:100%;
	display:block;	
	background-image:url("../images/arrow.png");
	background-repeat:no-repeat;
	background-position:right;
}

 li.red{
   background: rgba(187, 133, 109, 0.7); 
}

 li.green{
   background: rgba(116, 131, 105, 0.7); 
}
 li.blue{
   background: rgba(31, 45, 58, 0.7); 
}
 li.yellow{
   background: rgba(166, 144, 102, 0.7); 
}
 li.white{
   background: rgba(165, 159, 144, 0.7); 
}


.indexArtists ul {
	
	padding-left:0;
	margin-bottom:0;
}

.indexArtists ul li{
	width:100%;
	color:#ffffff;
	padding-left:20px;
	padding-right:18px;
	list-style-type:none;
	background: rgba(159, 154, 141, 0.7); 
}

.indexArtists ul li a{
	color:#ffffff;
	line-height:35px;
	width:100%;
	display:block;	
	font-size:18px;
	background-image:url("../images/arrow.png");
	background-repeat:no-repeat;
	background-position:right;
}

.indexArtists ul li a:hover{
	text-decoration:none;
}

.indexArtists .load-more{
	background-color:#e6d2aa;
}

.cont-transp {
	 background: rgba(227, 227, 228, 0.7);
	 width:100%;
	 height:100%;
	 position:absolute;
	 z-index:300;	
}
	
.item {
 
  float: left;
  padding:3px;
}

.artist{
	background-color:#FFFFFF;
	color:#c3a56e;
	border-bottom:1px solid #c3a56e;
	font-size:20px;
	line-height:22px;
	padding-bottom:30px;
	margin-right:20px;
	margin-left:20px;
	margin-top:15px;
}

.gallery{
	margin:0;
	padding:0;
	margin-top:5%;
}

.black{
	background-color:#000000;
}

.titleTop img{
	margin-top:3px;
}

.load-more{
	background-color:#748369;
}



.carousel-inner .item{
	
	float:none;
	padding:0;
}

.carousel-control.right{
	background-color:#e1d2b6;
	opacity:1;
	box-shadow:none;
	background-image:none;
	width:5%;
}

.carousel-control.left{
	background-color:#e1d2b6;
	opacity:1;
	box-shadow:none;
	background-image:none;
	width:5%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color:#748369;
	 border-color: #748369 #748369 transparent;
}

.nav > li > a {
    background-color: #000000;
  
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #748369;
}

.nav-tabs > li > a {
    border-radius: 0;
	margin-right: 1px;
}

.tab-content > .active {
    background-color: #828f78;
	padding-left:10px;
	padding-right:10px;
	
	padding-bottom:10px;
	margin-bottom:20px;
}

.tab-pane h1{
	margin-top:10px;
	font-size:17px;
	color:#020001;
	line-height:20px;
	font-weight:700;
	padding-top:10px;
}

.work-title{
	font-size:15px;
	font-weight:400;
	line-height:20px;
	color:#020001;
	margin-bottom:45px;
}

.work-title span{
	font-style:italic;
}

span.comment{
	color:#c3c3c3;
	font-size:12px;
	line-height:20px;
	font-weight:400;
	font-style: normal;
	display:block;
}

.work-details{
	font-size:14px;
	line-height:20px;
}

.work-details p{
	color:#020001;
}

span.expo{
	color:#e6d2aa;
	font-size:15px;
}

span.commentexpo{
	
	font-size:13px;
}

.social img{
	margin-right:20px;
}

p.social_link  {

	padding-top:25px;
	padding-bottom:15px;

}


.social_link a {
    display: inline-block;
    height: 29px;
    width: 29px;
	margin-right:20px;
	color:#e6d2aa;
	
}

.social_link span{
	display:none;
}

.social_link a:hover span {
		display:block;
		
	padding-top:40px;
	position:absolute;
}


.fb {
    background-image: url("../images/facebook.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.fb:hover {
    background-image: url("../images/facebook_h.png");
}

.twitter {
    background-image: url("../images/twitter.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.twitter:hover {
    background-image: url("../images/twitter_h.png");
}
.mail {
    background-image: url("../images/mail.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.mail:hover {
    background-image: url("../images/mail_h.png");
}

.linkd {
    background-image: url("../images/linkd.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.linkd:hover {
    background-image: url("../images/linkd_h.png");
}

.gplus {
    background-image: url("../images/gplus.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.gplus:hover {
    background-image: url("../images/gplus_h.png");
}


.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    margin-right: -5px;
    right: 50%;
}

.glyphicon-chevron-right::before {
    content:  none;
}

.glyphicon-chevron-left::before {
    content: none;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -5px;
}

.absearch{
	text-align:center;
	font-size:20px;
	line-height:45px;
	color:#ffffff;
	margin-top:15%;
	margin-bottom:5%;
}

.absearch a{
	background-color:transparent;
	
	color:#ffffff;
	padding:14px;
}

.absearch a:hover, .absearch a.active{
	background-color:#bcb5a6;
	text-decoration:none;
}

.work-info{
	
	width:100%;
	z-index:600;
	padding-left:36px;
	overflow:hidden;
   background: rgba(112, 123, 100, 0.7);
	left:-156; z-index:501; top: 239px;position: absolute; margin-top:128px; 

	
}
.work-info h1{
color: #020001;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 10px;
		padding-left:0px;
}


.work-info .work-title{
	
}

.work-arrow{
	background-color:#748369;
	   background-image: url("../images/arrow.png");
   background-repeat:no-repeat;
   
   background-position:50% center;
   height:150px;
   width:26px;
}

	
@media (max-width:480px){
	.container-fluid{
		width:100%;
		/*overflow:hidden;*/
	}
}
@media (max-width:320px){

.item {
 
  float: left;
  padding:0px;
}
}


/* added by akis start */
.lang-inline li{
	margin: 0!important;
}
.lang-active a {
    color: #e6d2aa;
    text-decoration: none;
	margin: 0!important;
}
.paintingscontainer{
	position:relative; 
	z-index:0;
}
.cont-transp{
	display: none;
}
.work-info{
	display: none;
}
.selectedWork{
	display: none;
	position: absolute; 
	width:100%; 
	top: 0px; 
	left: 0px; 
	z-index:500; 
	padding:2px;
}
.work-info {
    margin-top: 0;
}
.tab-pane h1 a {
    color: #020001;
}
.paintettab h1{
	margin-bottom: 0;
}
.tabopacity{
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}